@model Item
@{
    Layout = "CustomerLayout";
}
<link rel="stylesheet" href="~/css/product details.css">
<link rel="stylesheet" href="~/css/cart.css">

<div class="container">
    <div class="item1">
        <div class="breadcrumb">
            <ul class="breadcrumb">
                <li><a href="main.html"><i class='bx bx-home'></i></a></li>
                <li><a href="#">product</a></li>
            </ul>
        </div>
    </div>

    <div class="item2">
        <center>
            <h2>product <span>details</span></h2>
        </center>
        <div class="flex-box">
            <div class="left">
                <div class="big-img">
                    <img src="~/Image/Items/@Model.Image">
                </div>
                <div class="images">
                    <div class="small-img">
                        <img src="~/Image/Items/@Model.Image2" onclick="showImg(this.src)">
                    </div>
                    <div class="small-img">
                        <img src="~/Image/Items/@Model.Image3" onclick="showImg(this.src)">
                    </div>
                    <div class="small-img">
                        <img src="~/Image/Items/@Model.Image4" onclick="showImg(this.src)">
                    </div>
                    <div class="small-img">
                        <img src="~/Image/Items/@Model.Image5" onclick="showImg(this.src)">
                    </div>
                </div>
            </div>

            <div class="right">
                <div class="pname">Name : @Model.Name</div>
                <div class="pname">Product : @Model.Product.ProductName</div>
                <div class="pname">Category: @Model.Product.Category</div>
            
           

                
                <div class="price">Price :  @String.Format("{0:0.00}", Model.Price) EPG </div>
               
                <div class="btn-box">
                    <a asp-action="AddToCart" asp-controller="Cart" asp-route-ID="@Model.ID"><button class="cart-btn">Add to Cart</button></a>
                </div>
            </div>
        </div>
        <section class="product-inf">
            <h3>
                @Model.Description
            </h3>
        </section>
        <script>
            let bigImg = document.querySelector('.big-img img');
            function showImg(pic) {
                bigImg.src = pic;
            }
        </script>
    </div>
