@model IEnumerable<EfrashBatek.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityInStore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shop)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityInStore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shop.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
