
@{
	Layout = "LayoutProfile";
}
@model User
<div class="tab-pane fade show active" id="address" role="tabpanel" aria-labelledby="profile-tab">
	<div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
		
		<div class="tab-pane fade show active">
			<h3 class="mb-4">Address Settings</h3>
			<form asp-action="SaveChangesAddress" asp-controller="MyProfile" asp-route-id="@Model.Id">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label asp-for="Address.FirstName">First Name</label>
							<input asp-for= "Address.FirstName"type="text" class="form-control" value="@Model.Address.FirstName">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label asp-for="Address.LastName">Last Name</label>
							<input asp-for="Address.LastName"type="text" class="form-control" value="@Model.Address.LastName">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label asp-for="Address.phone">Phone</label>
							<input asp-for="Address.phone" type="text" class="form-control" value="@Model.Address.phone">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label asp-for="Address.PostalCode">Postal Code</label>
							<input asp-for ="Address.PostalCode" type="text" class="form-control" value="@Model.Address.PostalCode">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label asp-for="Address.FullAddress">Full Address </label>
							<input asp-for="Address.FullAddress" type="text" class="form-control" value="@Model.Address.FullAddress">
						</div>
					</div>
					<div lass="col-md-6">
						<label asp-for="Address.Zone" class="control-label"></label>
						<select asp-for="Address.Zone" class="form-control" asp-items="ViewBag.Zone"></select>
					</div>
				</div>
				<label asp-for="Address.description">Detailed Address</label>
				<textarea asp-for="Address.description" class="form-control" rows="4">@Model.Address.description</textarea>
				<div>
					<input class="btn btn-primary" value="Save Changes" type="submit" style="

								background-color: #cbaab1;
								border-color: #cbaab1;">

				</div>
			</form>
			
      </div>
</div>
</div>
