
@{
	Layout = "LayoutProfile";
}
@model Customer
<div class="tab-pane fade show active" id="address" role="tabpanel" aria-labelledby="profile-tab">
	<div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
		
		<div class="tab-pane fade show active">
			<h3 class="mb-4">Address Settings</h3>
			<form asp-action="SaveChangesAddress" asp-controller="MyProfile" asp-route-id="@Model.Id">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label asp-for="User.Address.FirstName">First Name</label>
							<input asp-for= "User.Address.FirstName"type="text" class="form-control" value="@Model.User.Address.FirstName">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label asp-for="User.Address.LastName">Last Name</label>
							<input asp-for="User.Address.LastName"type="text" class="form-control" value="@Model.User.Address.LastName">
						</div>
					</div>
					@*@<div class="col-md-6">
						<div class="form-group">
							<label asp-for="User.Address.StreetName">Street Name</label>
							<input asp-for="User.Address.StreetName" type="text" class="form-control" value="@Model.User.Address.StreetName">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label asp-for="User.Address.ApartmentNumber">Appartment Number</label>
							<input asp-for ="User.Address.ApartmentNumber" type="text" class="form-control" value="@Model.User.Address.ApartmentNumber">
						</div>
					</div>*@
					<div class="col-md-6">
						<div class="form-group">
							<label>City</label>
							<!-- enum loop-->
							<select id="citySelect" class="form-control">
								<option value="null">Select</option>
								<option value="100">
									10th of Ramadan
								</option>

							</select>
						</div>
					</div>
				</div>
				<label asp-for="User.Address.description">Detailed Address</label>
				<textarea asp-for="User.Address.description" class="form-control" rows="4">@Model.User.Address.description</textarea>
				<div>
					<input class="btn btn-primary" value="Save Changes" type="submit" style="

								background-color: #cbaab1;
								border-color: #cbaab1;">

				</div>
			</form>
			
      </div>
</div>
</div>
