@{

    Layout = "LayoutProfile";
}
@model List<Order>

<link rel="stylesheet" href="~/css/ordertable.css">
<div class="tab-pane fade show active" id="ordere" role="tabpanel" aria-labelledby="profile-tab">
	<div class="tab-content p-4 p-md-5" id="v-pills-tabContent">

       
        <h3 class="mb-4">Orders Settings</h3>

        <center>
            <br>
            <br>   
            <br>
            <br>
            
            <table id="example" class="order-table" style="margin-left: auto; margin-right: auto; width : 100%;">
                <thead>
                    <tr>
                    
                        <th>Order Date</th>
                        <th>Total cost</th>
                        <th>View Order Details </th>
                        <th>Order code</th>
                    </tr>
                </thead>
                <tbody>
                @foreach(var order in Model)
                {
                        <tr>
                        
                            <td>@order.OrderDate.Year/@order.OrderDate.Month/@order.OrderDate.Year</td>

                            <td>@String.Format("{0:0.00}", @order.TotalCost) EPG </td>
                            <td>
                                @using (Html.BeginForm("OrderDetails", "MyProfile", FormMethod.Post))
                                {

                                    int x = order.ID;
                                    @Html.Hidden("id"  , x )
                                    // Replace "Id" with the actual name of the ID property in your model

                                    <button >view order details </button>
                                }
                            </td>
                            <td> @order.OrderCode</td>
                        </tr>
                  
                }
                </tbody>
              
            </table>
        </center>
    </div>

</div>
