@{
	Layout = null;
}
@model Address
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Address</title>
	<link rel="icon" type="image/favicon.ico" href="~/Image/favicon.png">
	<!-- CSS-link -->


	<link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&display=swap"
		  rel="stylesheet">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
		  integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
		  crossorigin="anonymous" referrerpolicy="no-referrer" />

	<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
	<link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/css/Checkout address.css ">
	<link rel="stylesheet" href="~/css/checkout_steps_header.css">
	<link rel="stylesheet" href="~/css/order_summary_box.css" type="text/css">
</head>

<body>
	<form asp-action="CreateAddress" asp-controller="Checkout">
		<div class="container">

			<!------------------------------------------------ Icons ------------------------------->
			<div class="row">
				<div class="col-sm-12 col-lg-9">
					<div class="x">
						<ul class="icons">
							<li class="step">
								<a href="default address.html">
									<i class='bx bxs-location-plus' style=" font-size: 38px;"></i>
									<h2 class="word">Shipping</h2>
								</a>
							</li>

							<li class="step">
								<a href="payment method.html">
									<i class='bx bx-credit-card' style=" font-size: 38px;"></i>
									<h2 class="word">Payment</h2>
								</a>
							</li>
							<li class="step">
								<a href="Order Confirmation.html">
									<i class='bx bx-badge-check' style=" font-size: 38px;"></i>
									<h2 class="word">Confirmation</h2>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!------------------------------------------------ Icons ------------------------------->

			<div class="row">


				<div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
					<div id="address" role="tabpanel" aria-labelledby="address-tab">
						<h3 class="mb-4">Address Settings</h3>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="FirstName">First Name</label>
									<input asp-for="FirstName" type="text" class="form-control" placeholder="First Name" >
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="LastName">Last Name</label>
									<input asp-for="LastName" type="text" class="form-control" placeholder="Last Name" >
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="FullAddress">Address</label>
									<input asp-for="FullAddress" type="text" class="form-control" placeholder="Address" >
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="PostalCode">Postal Code</label>
									<input asp-for="PostalCode" type="number" class="form-control" placeholder="Postal Code" >
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="phone">Phone Number</label>
									<input asp-for="phone" type="number" class="form-control" placeholder="Phone Number" >
								</div>
							</div>
							<div class="form-group">
								<label asp-for="FullAddress">Full Address </label>
								<input asp-for="FullAddress" type="text" class="form-control" value="">
							</div>
						</div>
						<label asp-for="description">Detailed Address</label>
						<textarea asp-for="description" class="form-control" rows="4"></textarea>
						<div>
							<div class="col-md-6">
								<div class="form-group">
									<label>City</label>
									<select id="citySelect" class="form-control">
										<option value="null">City</option>
										<option>
											Qena
										</option>
										<option>
											Cairo
										</option>
									</select>
								</div>
							</div>
							<input type="submit" class="btnRegister" value="Save" href="default address.html">

						</div>
					</div>
				</div>



				<div class="col-sm-12 col-lg-3">
					<aside>
						<div class="summary">
							<div class="summary-total-items">
								<span class="total-items"></span> Order Summary
							</div>
							<div class="summary-subtotal">
								<div class="subtotal-title">Subtotal</div>
								<div class="subtotal-value final-value" id="basket-subtotal">@ViewBag.price</div>
								<div class="summary-promo hide">
									<div class="promo-title">Promotion</div>
									<div class="promo-value final-value" id="basket-promo"></div>
								</div>
							</div>
							<div class="summary-delivery">
								<tbody>
									@foreach (var item in ViewBag.list)
									{
										<tr>
											<td>
												<div class="d-flex mb-2">
													<div class="flex-shrink-0">
														<img src="~/Image/products/@item.Item?.Image" alt="" width="35" class="img-fluid">
													</div>
													<div class="d-flex justify-content-between align-items-center p-3 flex-lg-grow-1 ms-2">
														<span class="small mb-0"><a href="#" class="text-reset">@item.Item?.Name</a></span>
														<span class="small">@item.Quantity</span>
														<span class="small">@item.Item?.Price</span>
													</div>
												</div>
											</td>
										</tr>
									}


								</tbody>
							</div>
							<div class="summary-total">
								<div class="total-title">Total</div>
								<div class="total-value final-value" id="basket-total">@ViewBag.price</div>
							</div>
							<div class="summary-checkout">
								<a href="orderinfo.html"><button class="checkout-cta">Go to Secure Checkout</button></a>
							</div>
						</div>
					</aside>
				</div>
			</div>
		</div>
	</form>


	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>

</html>