@model KeyValuePair<List<Item>,List<Item>>
@{
    Layout = "CustomerLayout";

}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- CSS-link -->
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
<!-- Code by Angela Delise
https://codepen.io/angeladelise/pen/yLJdgYx -->

<link rel="stylesheet" href="~/css/main.css">
<link rel="shortcut icon" href="~/Image/favicon.ico" type="image/x-icon">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<!--main home section-->
<section class="main-home">
    <div class="main-text">
        <h1>we bring <span>solution</span><br> to make life easier<br> for our customer</h1>
        <a href="Empty.html" class="main-btn">customize order<i class='bx bx-right-arrow-alt'></i></a>
    </div>

    <div class="down-arrow">
        <a href="#trending" class="down"><i class='bx bx-down-arrow-alt'></i></a>
    </div>
</section>

<!-- trending-products-section -->
<section class="trending-product" id="trending">
    <div class="center-text">
        <h2>Our Trending <span>products</span></h2>
    </div>

    <div class="product-box">

        <!--- PRODUCT Trending -->

        <div class="product-main">

            <h2 class="title">New Products</h2>

            <div class="product-grid">


                @if (Model.Value != null)
                {

                    @foreach (var item in Model.Value)
                    {
                        <div class="showcase">

                            <div class="showcase-banner">

                                <!--image-->
                                <a asp-action="Index" asp-controller="Item">
                                    <img src="~/Image/products/@item.Image" alt="Mens Winter Leathers Jackets"
                                         width="300" class="product-img hover">
                                </a>
                                <!--image-->
                                <img src="~/Image/products/@item.Image2" alt="MEN Yarn Fleece Full-Zip Jacket"
                                     class="product-img default" width="300">
                                <!--discount-->
                                <p class="showcase-badge">@item.discount%</p>

                                <div class="showcase-actions">

                                    @using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post))
                                    {
                                        @Html.Hidden("itemID", item.ID)
                                        // Replace "Id" with the actual name of the ID property in your model

                                        <button type="submit" class="btn-action">
                                            <i class="ion-icon" data-name="heart-outline"></i>
                                        </button>
                                    }

                                    @using (Html.BeginForm("AddItemToWishlist", "WishList", FormMethod.Post))
                                    {
                                        @Html.Hidden("itemID", item.ID)
                                        // Replace "Id" with the actual name of the ID property in your model

                                        <button class="btn-action">
                                            <ion-icon name="bag-add-outline"></ion-icon>
                                        </button>

                                    }



                                </div>

                                <div class="showcase-content">
                                    <!--item category  -->
                                    <a href="product details.html" class="showcase-category">@item.Product.ProductName</a>

                                    <a href="product details.html">
                                        <!--item product  -->
                                        <h3 class="showcase-title">@item.Name</h3>
                                    </a>
                                    <!---starts=-->
                                    <div class="showcase-rating">
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star-outline"></ion-icon>
                                        <ion-icon name="star-outline"></ion-icon>
                                    </div>
                                    <!--prices-->
                                    <div class="price-box">
                                        <p class="price">
                                            @String.Format("{0:0.00}", item.Price) EPG

                                        </p>
                                        <del>@item.PriceAfterSale$</del>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*   <a asp-action="AddToCart" asp-controller="Cart" asp-route-id=@item.ID><i class='bx bx-cart'></i></a>*@
                    }



                }



            </div>
        </div>






        <!---Product New Arrivals-->

        <div class="product-main">

            <h2 class="title">New Arrivals </h2>

            <div class="product-grid">


                @if (Model.Key != null)
                {

                    @foreach (var item in Model.Key)
                    {
                        <div class="showcase">

                            <div class="showcase-banner">

                                <!--image-->
                                <a asp-action="Index" asp-controller="Item">
                                    <img src="~/Image/products/@item.Image" alt="Mens Winter Leathers Jackets"
                                         width="300" class="product-img hover">
                                </a>
                                <!--image-->
                                <img src="~/Image/products/@item.Image2" alt="MEN Yarn Fleece Full-Zip Jacket"
                                     class="product-img default" width="300">
                                <!--discount-->
                                <p class="showcase-badge">@item.discount%</p>

                                <div class="showcase-actions">

                                    @using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post))
                                    {
                                        @Html.Hidden("id", item.ID)
                                        // Replace "Id" with the actual name of the ID property in your model
                                        <button type="submit" class="btn-action">
                                            <i class="ion-icon" data-name="heart-outline"></i>
                                        </button>
                                    }
                                    <button class="btn-action">
                                        <ion-icon name="bag-add-outline"></ion-icon>
                                    </button>

                                </div>

                                <div class="showcase-content">
                                    <!--item category  -->
                                    <!--null execption  item.product.productname-->
                                    <a href="" class="showcase-category">@item.Product?.ProductName</a>

                                    <a href="product details.html">
                                        <!--item product  -->
                                        <h3 class="showcase-title">@item.Name</h3>
                                    </a>
                                    <!---starts=-->
                                    <div class="showcase-rating">
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star-outline"></ion-icon>
                                        <ion-icon name="star-outline"></ion-icon>
                                    </div>
                                    <!--prices-->
                                    <div class="price-box">
                                        <p class="price">
                                            @String.Format("{0:0.00}", item.Price) EPG

                                        </p>
                                        <del>@item.PriceAfterSale$</del>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*   <a asp-action="AddToCart" asp-controller="Cart" asp-route-id=@item.ID><i class='bx bx-cart'></i></a>*@
                    }



                }



            </div>
        </div>



    </div>

</section>


