@using EfrashBatek.ViewModel
@model DashboardViewModel

<div class="overview-boxes">
    <div class="box">
        <div class="right-side">
            <div class="box-topic">Total Order</div>
            <div class="number">@Model.TotalOrders</div>
            <div class="indicator">
                <i class="bx bx-up-arrow-alt"></i>
                <span class="text">Up from yesterday</span>
            </div>
        </div>
        <i class="bx bx-cart-alt cart"></i>
    </div>
    <div class="box">
        <div class="right-side">
            <div class="box-topic">Total Shop</div>
            <div class="number">@Model.Totalshop</div>
            <div class="indicator">
                <i class="bx bx-up-arrow-alt"></i>
                <span class="text">Up from yesterday</span>
            </div>
        </div>
        <i class="bx bx-cart cart three"></i>
    </div>
    <div class="box">
        <div class="right-side">
            <div class="box-topic">Total Customer</div>
            <div class="number">@Model.TotalCustomers</div>
            <div class="indicator">
                <i class="bx bx-down-arrow-alt down"></i>
                <span class="text">Down From Today</span>
            </div>
        </div>
        <i class="bx bxs-cart-download cart four"></i>
    </div>
</div>


 <!---------------------------------------------------------------------------------------------------------->
       <section>
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Dashboard</h1>
					<ul class="breadcrumb">
						<li>
							<a href="#">Dashboard</a>
						</li>
						<li><i class='bx bx-chevron-right'></i></li>
						<li>
							<a class="active" href="#">Home</a>
						</li>
					</ul>
				</div>
			</div>
			<ul class="box-info">
				<li>
					<i class='bx bxs-calendar-check'></i>
					<span class="text">
						<h3>@Model.TotalOrders</h3>
						<p>Total Orders</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-group'></i>
					<span class="text">
					<h3>@Model.TotalCustomers</h3>
						<p>Customers</p>
					</span>
				</li>
				<li>
					<i class='bx bx-store-alt'></i>
					<span class="text">
					<h3>@Model.Totalshop</h3>
						<p>Total Shops</p>
					</span>
				</li>
			</ul>
			<div class="table-data">
				<div class="order">
					<div class="head">
						<h3>Recent Orders</h3>
						<i class='bx bx-search'></i>
						<i class='bx bx-filter'></i>
					</div>
					<table>
						<thead>
							<tr>
								<th>User</th>
								<th>Date Order</th>
								<th>Status</th>
							</tr>
						</thead>
				</div>
			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	<!-- SCRIPT -->
	<script src="js/script.js"></script>