@{
    Layout = "";
}
@model List<Staff> 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Details</title>
    <!-- CSS -->
    <link rel="stylesheet" href="~/css/admin.css">
    <link rel="stylesheet" href="~/css/seller details.css">
    <!-- SCRIPT -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <!-- SIDEBAR -->
    <section id="sidebar">
        <a asp-action="TrendingProducts" asp-controller="Home" class="brand">
            <i class='bx bxs-smile'></i>
            <span class="text">Efresh Beitak</span>
        </a>
        <ul class="side-menu top">
            <li>
                <a asp-action="Index" asp-controller="Admin">
                    <i class='bx bxs-dashboard'></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li>
                <a asp-action="Orders" asp-controller="Admin">
                    <i class='bx bx-list-ul'></i>
                    <span class="text">Order List </span>
                </a>
            </li>
            <li >
                <a asp-action="AddStaff" asp-controller="Admin">
                    <i class='bx bx-list-plus'></i>
                    <span class="text">Add Seller</span>
                </a>
            </li>
            <li>
                <a asp-action="AddShop" asp-controller="Admin">
                    <i class='bx bx-list-plus'></i>
                    <span class="text">Add Shop</span>
                </a>
            </li>
            <li>
                <a asp-action="AddAdmin">
                    <i class='bx bx-list-plus'></i>
                    <span class="text">Add Admin</span>
                </a>
            </li>

            <!--Why Seller Details-->
            <li class="active">
                <a asp-action="SellerDetails" asp-controller="Admin">
						<i class='bx bx-log-out'></i>
                    <span class="text">Seller Details</span>
                </a>
            </li>
            <li>
                <a asp-action="Logout" asp-controller="Account" class="nav-link" role="tab">
                    <i class="fa fa-user text-center mr-1"></i>
                    Log Out
                </a>
            </li>
        </ul>
    </section>
    <!-- SIDEBAR -->
    <!-- NAVBAR -->
    <section id="content">
        <nav>
            <i class='bx bx-menu'></i>
            <a href="#" class="nav-link">Categories</a>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="Search...">
                    <button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
                </div>
            </form>
        </nav>
    </section>
    <!-- NAVBAR -->
    <!-- ORDER DETAILS -->
    <div class="details">
        <div class="recentOrders">
            <div class="cardHeader">
                <h2>Seller Details</h2>
            </div>

            <table>
                <thead>
                    <tr>
                        
                        <td>Name</td>
                        <td>Email</td>
                        <td>Age</td>
                        <td>Shop Name</td>
                        <td>Action</td>
                    </tr>
                </thead>

                <tbody>
                    @foreach(var seller in Model)
                    {
                        <tr>
                            <td>@seller.User.FirstName</td>
                            <td>@seller.User.Email</td>
                            <td>@seller.User.age</td>
                            <td>@seller.Shop.Name </td>
                            
                            <td>
                                @using (Html.BeginForm("EditSeller", "Admin", FormMethod.Post))
                                {
                                <a class="edit" title="Edit" data-toggle="tooltip">
                                   
                                </a>
                                    string  x = seller.UserId;
                                    @Html.Hidden("id"  , x )
                                    // Replace "Id" with the actual name of the ID property in your model

                                    <button>  <i class="material-icons">&#xE254;</i></button>
                                }
                                @using (Html.BeginForm("DeleteSeller", "Admin", FormMethod.Post))
                                {

                                    int   x = seller.ID;
                                    @Html.Hidden("id"  , x )
                                    // Replace "Id" with the actual name of the ID property in your model
                                   
                                    <button>  <i class="material-icons">&#xE872;</i></button>
                                }

                               
                            </td>
                        </tr>
                    }
                  

                </tbody>
            </table>
        </div>

        <!-- SCRIPT -->
        <script src="~/js/script.js"></script>
</body>

</html>