@model IEnumerable<Shop>

@{
    ViewData["Title"] = "ShopDetails";
}

<h1>Shop Information</h1>

<table>
    <tbody>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Contact Info</th>
            <th>Action</th>
        </tr>
        @foreach (var shop in Model)
        {
            <tr>

                <td>@shop.ID</td>
                <td>@shop.Name</td>
                <td>@shop.ShopAddress</td>
                <td>@shop.PhoneNumber</td>
                <td>
                    <button asp-action="EditShop" asp-route-id="@shop.ID">Edit</button>
                    <button asp-action="DeleteShop" asp-route-id="@shop.ID">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>